<div class="services">
    <div class="container">
        <div class="text-center">
            <h2 style="font-size: 60px;font-family:Bold Italic Art ">Dashbord</h2>
            <a href="" ng-click="move('app.job')"  class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <img src="img/cust1.jpg" alt="">
                <h3 style="font-size: 40px;">Job Add / Edit</h3>
            </a>
            <a href="" ng-click="move('app.users')"  class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <img src="img/cust1.jpg" alt="">
                <h3 style="font-size: 40px;">users</h3>
            </a>
            <a href="" ng-click="move('app.order')"  class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <img src="img/cust1.jpg" alt="">
                <h3 style="font-size: 40px;">orders</h3>
            </a>
            <!--<a href="" ng-click="move('app.addgroup')" class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">-->
                <!--<img src="img/devices3.png" alt="">-->
                <!--<h3 style="font-size: 40px;">اضافة مجموعة</h3>-->
            <!--</a>-->
            <!--<a href="" ng-click="move('app.mten')" class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">-->
                <!--<img src="img/mten.png" alt="">-->
                <!--<h3 style="font-size: 40px;">الادارة</h3>-->
            <!--</a>-->
            <!--<a href="" ng-click="move('app.report')" class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">-->
                <!--<img src="img/report.png" alt="">-->
                <!--<h3 style="font-size: 40px;">التقارير</h3>-->
            <!--</a>-->
        </div>
    </div>
</div>