<div class="services group">

    <div class="container">
        <h2 style="font-size: 35px;font-family:Bold Italic Art ">Jobs</h2>
        <button class="btn btn-primary" ng-click="openmodaladdjob()">Add job</button>
        <!--`company_name`, `logo`, `addr`, `job_name`, `job_repo`, `edu_requir`, `emp_status`, `other_benifits`, `descr`, `deadline`, `type`, `time`-->

    </div>
    <table class="table table-responsive table-striped table-hover" >
        <tr>
            <th>company name</th>
            <th>Logo</th>
            <th>address</th>
            <th>job name</th>
            <th>jop repo</th>
            <th>Education required</th>
            <th>Employment</th>
            <th>other benefits</th>
            <th>Describe</th>
            <th>final date</th>
            <th>Type</th>
            <th>Time</th>
            <th></th>
        </tr>
        <tr ng-repeat="one in jobs">
            <td>{{one.company_name}}</td>
            <td><img src="{{one.logo}}" alt="" style="    width: 99%;height: auto;"></td>
            <td>{{one.addr}}</td>
            <td>{{one.job_name}}</td>
            <td>{{one.job_repo}}</td>
            <td>{{one.edu_requir}}</td>
            <td>{{one.emp_status}}</td>
            <td>{{one.other_benifits}}</td>
            <td>{{one.descr}}</td>
            <td>{{one.deadline}}</td>
            <td>{{one.type}}</td>
            <td>{{one.time}}</td>
            <td><button ng-click="edit(one)">Edit</button></td>
        </tr>
    </table>
</div>

<div ng-show="addjobmodal" class="modal-azoz">

    <div class="row modal-azoz-iner">
        <button class=" btn-default close-modal" ng-click="closebackupmodal()">X</button>
        <img src="{{img_src?img_src:'img/job.jpg'}}" style="width: 100%;height: 50%" alt="">
        <div class="form-group col-xs-6">
            <label class="label-primary">company name
                <input type="text" class="form-control" ng-model="company_name">
            </label>
        </div>
        <div class="form-group col-xs-6">
            <label class="label-primary">address
                <textarea  class="form-control" ng-model="address"></textarea>
            </label>
        </div>

        <div class="form-group col-xs-6">
            <label class="label-primary">job name
                <!--<input type="file" class="form-control" accept="image/*" onchange="angular.element(this).scope().ready(this)">-->
                <input type="text" class="form-control" ng-model="job_name">
            </label>
        </div>
        <div class="form-group col-xs-6">
            <label class="label-primary">jop repo
                <input type="text" class="form-control" ng-model="jop_repo">
            </label>
        </div><div class="form-group col-xs-6">
        <label class="label-primary">Education required
            <select ng-model="edu_required" class="select">
                <option value="Bachelors degree">Bachelor's degree</option>
                <option value="Diplomas degree">Diploma's degree</option>
            </select>
        </label>
    </div><div class="form-group col-xs-6">
        <label class="label-primary">Employment
            <select ng-model="employment" class="select">
                <option value="Full Time">Full Time</option>
                <option value="Part Time">Part Time</option>
            </select>
        </label>
    </div>
    <div class="form-group col-xs-6">
        <label class="label-primary">other benefits
            <textarea class="form-control" ng-model="other_benefits"></textarea>
        </label>
    </div>
    <div class="form-group col-xs-6">
        <label class="label-primary">Describe
            <textarea  class="form-control" ng-model="describe"></textarea>
        </label>
    </div>
    
    <div class="form-group col-xs-6">
        <label class="label-primary">final date
            <input type="date" class="form-control" ng-model="final_date">
        </label>
    </div>
    <div class="form-group col-xs-6">
        <label class="label-primary">Type
            <select ng-model="type" class="form-control select" >
                <option value="Information Technology">Information Technology</option>
                <option value="Business Administration">Business Administration</option>
            </select>
        </label>
    </div>
    <div class="form-group col-xs-6">
        <label class="label-primary">Logo
            <input type="file" class="form-control" accept="image/*" onchange="angular.element(this).scope().ready(this)">
        </label>
    </div>

        <div class="form-group">
            <button class="btn btn-primary" ng-click="addjob()">ADD</button>
        </div>
    </div>
</div>